<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/scalaleafs-sample/src/main/scala/net/scalaleafs/sample/Main.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.scalaleafs.sample.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="scalaleafs-sample"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DleafsDebugMode=true -Dakka.log-dead-letters=false"/>
</launchConfiguration>
