<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/scalaleafs.css">
  <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
    <link rel="stylesheet" href="/stylesheets/syntax.css">
  <script type="text/javascript" src="javascripts/dtree.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34069113-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); 
    ga.type = 'text/javascript'; 
    ga.async = true;
    ga.src = 'http://www.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; 
    s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div>
      <div style="display:inline-block;padding-left:200px">
      </div>
            <table border=0>
              <tr><td id="left-bar" style="vertical-align: top; width: 260px;">
                <div style="margin-left: 40px;position:absolute;top:-30px">
                <a href="/"><img style="z-index:-10" width="170px"
                         height="130px"
                  src="/img/leafs-autumn.png"/></a>
                </div>
                    <br/>
                <a href="/"><h1 style="margin-top: 70px; text-align: center; margin-bottom: 0;">Scala Leafs</h1></a>
                  <div style="margin-top:8px; text-align: center;">A Web Framework for Scala</div>
                
                <div class="menu" style="margin-top: 40px; text-align: left; padding-left: 24px;">
                    <div class="dtree" style="white-space: nowrap; display: inline-block; text-align: left; min-width: 140px;">
  	<script type="text/javascript">
		d = new dTree('d');
        d.config.useIcons = false;
        d.config.useLines = false;
        d.config.inOrder = true;
        d.closeAll();

      d.add(0,-1,'Introduction', "/");
	  d.add(100,0,'Tutorial');
      d.add(102,100,'Hello World','/hello-world.html');
      d.add(104,100,'Using Templates','/using-templates.html');
      d.add(105,100,'Serving Data','/serving-data.html');
      d.add(120,100,'Url Handling','/url-handling.html');
	  d.add(200,0,'Documentation');
      d.add(201,200,'Servlets','/servlets.html');
      d.add(210,200,'CSS Selectors','/css-selectors.html');
      d.add(291,200,'Setup SBT','/setup-sbt.html');
      d.add(292,200,'Running and Debugging','/running-debugging.html');

      document.write(d);
      d.open('{{page.url}}');
    </script>
            </div>
                  </div>     
                  <br/>
                  <br/>
                  <br/>
                <div style="display: none; text-align: center">
                    <a href="https://github.com/scalastuff/scalaleafs"><img src="/img/github.png" width="70px" height="30px"/></a>
                  </div>
      </td>

                <td style="vertical-align: top; min-width: 500px">
                  
                  <div id="header">
    <h1>
    	<a href="/" title="ScalaLeafs">&nbsp;</a>

    </h1>
    <ul class="nav">
        <li><a target="github" href="https://github.com/scalastuff/scalaleafs">github</a></li>
    	<li><a target="forum" href="https://groups.google.com/forum/#!forum/scalaleafs">forum</a></li>
      <li><a target="api" href="/api/index.html#net.scalaleafs.package">api</a></li>
    	<li><a target="maven" href="http://search.maven.org/#browse%7C1528384846">maven</a></li>
    	<li><a target="license" href="https://raw.github.com/scalastuff/scalaleafs/master/LICENSE.TXT">license</a></li>
    </ul>
  </div>
                  
        <div id="page">
          <h1>{{ page.title }} <span><a href="http://prose.io/#scalastuff/scalaleafs/edit/gh-pages/{{ page.id }}.html">edit</a></span></h1>
          {{ content }}
        </div>
        <div style="text-align: center; padding: 8px;">
          <span style="color: #777; font-style:italic; font-size: 90%;">Copyright &copy; 2012 Ruud Diterwich.</span>
        </div>
      </td>
                  <td style="vertical-align: top; width: 260px"> </td>
      </tr>
      </table>
        </div>
    <script src="javascripts/scale.fix.js"></script>
</body></html>