<!doctype html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div>
      <div style="float:right">
        <img style="position:absolute;top:-20px;right:0;z-index:-10" width="170px" height="130px" src="/img/leafs-autumn.jpg"/>
      </div>
      <div>
        <h1>Scalaleafs</h1>
        <p>ScalaLeafs Web Framework</p>
      </div>
    </div>
    <div class="qwrapper">
      <header>

        <div style="float:right" class="menu">
    <a class="menu1{% if page.category == "Tutorial" %} active{% endif %}" href="tutorial.html">Tutorial</a>
    {% if page.category == "Tutorial" %}
  {% for p in site.pages %}
  {% if p.category == page.category %}
  {% for index in (1..100) %}
  {% if p.index == index %}
<a class="menu2{% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endif %}
        </div>
        
        <p class="view"><a href="https://github.com/scalastuff/scalaleafs">View the Project on GitHub <small>scalastuff/scalaleafs</small></a></p>


        <ul>
          <li><a href="https://github.com/scalastuff/scalaleafs/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/scalastuff/scalaleafs/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/scalastuff/scalaleafs">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>{{ page.title }}</h3>

	{{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/scalastuff">scalastuff</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
