<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/screen.css">
    <link rel="stylesheet" href="/stylesheets/syntax.css">
  <script type="text/javascript" src="javascripts/dtree.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
  </head>
  <body>
    <div>
      <div style="display:inline-block;padding-left:200px">
      </div>
            <table border=0>
              <tr><td style="vertical-align: top; width: 260px;">
                <div style="margin-left: 40px;position:absolute;top:-30px">
                <a href="/"><img style="z-index:-10" width="170px"
                         height="130px"
                  src="/img/leafs-autumn.png"/></a>
                </div>
                    <br/>
                <a href="/"><h1 style="margin-top: 70px; text-align: center; margin-bottom: 0;">Scala Leafs</h1></a>
                  <div style="margin-top:8px; text-align: center;">A Web Framework for Scala</div>
                
                <div class="menu" style="margin-top: 40px; text-align: left; padding-left: 24px;">
                    <div class="dtree" style="white-space: nowrap; display: inline-block; text-align: left; min-width: 140px;">
  	<script type="text/javascript">
		d = new dTree('d');
        d.config.useIcons = false;
        d.config.useLines = false;
        d.config.inOrder = true;
        d.closeAll();

      d.add(0,-1,'Introduction', "/index.html");
		d.add(100,0,'Tutorial');
      d.add(101,100,'Getting Started','/getting-started.html');
      d.add(102,100,'First Steps','/first-steps.html');
		d.add(200,0,'Documentation');
      d.add(201,200,'Servlet','/servlet.html');
		document.write(d);
      d.open({{page.url}});
    </script>
            </div>
                  </div>     
                  <br/>
                  <br/>
                  <br/>
        <div style="text-align: center">
                    <a href="https://github.com/scalastuff/scalaleafs"><img src="/img/github.png" width="70px" height="30px"/></a>
                  </div>
      </td>

                <td style="vertical-align: top">
        <div id="page">
        <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div style="text-align: center; padding: 8px;">
          <span style="color: #777; font-style:italic; font-size: 90%;">Copyright &copy; 2012 Ruud Diterwich. All rights reserved.</span>
        </div>
      </td>
                  <td style="vertical-align: top; width: 260px"> </td>
      </tr>
      </table>
        </div>
    <script src="javascripts/scale.fix.js"></script>
</body></html>